body {
	font-family: 'Open Sans', sans-serif;
	min-height: 750px;
	background: #3B5999;
}
#registerForm {
	margin-top:70px;
	border-radius: 5px;
	background: #ffffff;
	padding:20px;
	padding-left:40px;
	padding-right:40px;
}

#copyright {
	color:white;
	text-align:center;
	margin-top:50px;
}
.btn-register {
	text-align: center;
}
