body {
	font-family: 'Open Sans', sans-serif;
	min-height: 750px;
	background: #e0e6e7;
	padding-top:70px;

}
.social-buttons{   
}
.social-buttons a{
    width: 49%;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
a:hover{
	text-decoration: none;
}

.navbar-blue {
	border-width: 0;
	background-color: #3B5999;
	color: #ffffff;
	font-family: arial, sans-serif;
	top: 0;
	width: inherit;
}

.navbar-default {
	border-color: #213256;
	background-color: #3B5999;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.form-control {
	height: 33.5px;
}

#sepa {
	border-right: black;
}

.navbar-form #searchInput input[type=text] {
	width: 300px !important;
}

.navbar {
	margin-bottom: 0px;
}

#content {
	margin-top: 20px;
}

/*-- Bootstrap Override Style --*/

/*-- Content Style --*/
.photo-profile {
	border: 1px solid #DDD;
}

.anchor-username h4 {
	font-weight: bold;
}

.anchor-time {
	color: #ADB2BB;
	font-size: 1.2rem;
}

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

.navbar-content {
	width: 320px;
	padding: 15px;
	padding-bottom: 0px;
}

.navbar-content:before, .navbar-content:after {
	display: table;
	content: "";
	line-height: 0;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0px !important;
}

.navbar-footer {
	background-color: #DDD;
}

.navbar-footer-content {
	padding: 15px;
}


.dropdown-menu {
	padding: 0px;
	overflow: hidden;
}

#dropdown-chev > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
#dropdown-chev > .dropdown > span > span {
    font-size: 10px;   
}
#dropdown-chev > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-listComment {
	margin-bottom:15px;
}

.bs-callout {
	color: #6c7482;
}
.bs-call {
    border: 1px solid #ff8040;
    border-left-width: 5px;
    border-radius: 3px;
}
.font-panel-gray {
	color:gray;
}
#search-btn {
	margin-bottom:0px;
}
#hosts .panel-body .media .media-body {
	padding:4px;
}
#feeds .panel-body .media .media-body {
	padding:3px;
}
#hosts .panel-body .media .media-body .media-heading{
	font-weight: 700;
	color:gray;
}
#hosts .panel-title {
	font-size:14px;
}
#hosts .media:hover {
	background-color:#f5f5f5 ;
}
#feeds .media:hover {
	background-color:#f5f5f5 ;
}
#feeds .panel-body {
	height:300px;
  overflow-y:scroll;
}

#hosts .panel-body {
	height:590px;
  overflow-y:scroll;
}
#avatar .thumbnail {
	margin-bottom:0px;
}

#detail-homestay .media-heading {
	margin-top:10px;
	color:gray;
}
#detail-homestay .well {
	margin-bottom:0px;
}
#detail-homestay .glyphicon {  margin-bottom: 10px; margin-right: 10px;}
#detail-homestay .panel-body .panel-heading {
	padding:0px;
}
/* CSS used here will be applied after bootstrap.css */

#detail-homestay .item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
#detail-homestay .item .thumb img, .item img {
	width: 100%;	
}
#detail-homestay #thumbcarousel .carousel-inner>.item>a>img, .thumbnail >img {
    height:100px;
}


